<nav class="navbar mainNavbar navbar-expand-lg  ">
    <div class="container-fluid">
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <form class="d-flex searchForm" role="search">
                    <input class="form-control me-2" type="search" placeholder="Rechercher un film" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </ul>

            <ul class=" navbar-nav  mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a class=" button" href="{{ path('app_profil') }}" >
                            Profil
                        </a>
                    </li>   <li class="ms-1 nav-item">
                        <a class=" button" href="{{ path('app_logout') }}" >
                            Deconnexion
                        </a>
                    </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link button" href="{{ path('app_admin_dashboard') }}">ADMIN</a>
                    </li>

                {% endif %}

                {% else %}

                    <a href="{{ path('app_login') }}" class="button">Connexion</a>
                {% endif %}
            </ul>


        </div>
    </div>
</nav>