{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.imageFile) }}
    <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
