{% extends 'admin/base.html.twig' %}

{% block title %}Tous les films{% endblock %}

{% block body %}
    <a href="{{ path('admin_add_film') }}">Ajouter</a>

    <div class="d-flex flex-row flex-wrap">


        {% for film in films %}

            <div class="case">
                <a href="{{ path('app_admin_film_show',{'id':film.id}) }}">
                    {{ film.title }}
                    {{ film.description }}


                </a></div>


        {% endfor %}</div>
{% endblock %}
