{% extends 'client/base.html.twig' %}

{% block title %}Reservez !  {% endblock %}

{% block body %}
    <div class="container">

        <h1 class="my-5">Choisissez votre moyen de paiement </h1>



        <div class="d-flex flex-row flex-wrap:">
            {% for pay in app.user.payMethodes %}
                <a class="carte carteHover" href="{{ path('accept_payement',{'id':horaire.id,'places':places,'payMethodeId':pay.id}) }}">
                    <div class="d-flex flex-column">
                        <span>Numéro de la carte : </span>
                        <span class="cardInput">
                                   {{ pay.number }}
                              </span>
                    </div>

                    <div class="d-flex flex-column">
                        <span>Propriétaire : </span>
                        <span class="cardInput">
                                   {{ pay.master }}
                              </span>
                    </div>
                </a>


            {% endfor %}
        </div>

    </div>
{% endblock %}
