{% extends 'client/base.html.twig' %}

{% block title %}Reservez !  {% endblock %}

{% block body %}
    <div class="container">

    <h1 class="my-5">Nombre de place  (7.50€/place)</h1>
    <div class="d-flex flex-row flex-wrap:">

        {% for x in 0..10 %}
            <a class="m-2 reservationDateCard" href="{{ path('choose_payement',{'id':horaire.id,'places':x}) }}">
                {{x}} places  </a>

        {% endfor %}
    </div>

    </div>
{% endblock %}
