{% extends 'client/base.html.twig' %}

{% block title %}le Terrine Bellecour{% endblock %}

{% block body %}

        <h1 class="BackgroundTitle">Le Terrine Bellecour</h1>
        <div class="blurBackground">

        </div>
<div class="homePage px-5 ">
<div class="d-flex flex-row justify-content-between">
    <h3 class="mb-5">Films à l'affiche</h3>
    <a href="{{ path('app_film') }}">Voir tous les films <i class="ms-2 bi bi-arrow-right"></i></a>
</div>
        <div class="films">
                {% for film in films %}
                        <a class="film" href="{{ path('film_show',{'id':film.id}) }}">

                                <img src="{{ vich_uploader_asset(film.image)| imagine_filter('film') }}" alt="{{ film.image.imageName }}">

                        </a>
               {% endfor %}
        </div>
</div>
{% endblock %}
